{% extends "base.html" %}
{% block title %}Booking for {{competition['name']}} || GUDLFT{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="h2">{{competition['name']}}</h2>
    <p>Places available: <span class="badge bg-primary">{{competition['numberOfPlaces']}}</span></p>
    <form action="/purchasePlaces" method="post" class="mt-3">
        <input type="hidden" name="club" value="{{club['name']}}">
        <input type="hidden" name="competition" value="{{competition['name']}}">
        <div class="mb-3">
            <label for="places" class="form-label">How many places?</label>
            <input type="number" class="form-control" name="places" id="places" min="1" max="{{ [competition['numberOfPlaces'] | int, 12] | min }}" required/>
        </div>
        <button type="submit" class="btn btn-primary">Book</button>
    </form>
</div>
{% endblock %}
