{% extends "base.html" %}
{% block title %}GUDLFT Registration{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1 class="display-4">Welcome to the GUDLFT Registration Portal!</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <p>Please enter your secretary email to continue:</p>
    <form action="showSummary" method="post" class="mt-3">
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" name="email" id="email" required/>
        </div>
        <button type="submit" class="btn btn-primary">Enter</button>
    </form>
</div>
{% endblock %}
