{% extends "base.html" %}
{% block title %} Summary | GUDLFT Registration {% endblock %}
{% block content %}
    {% set current_date = datetime.now() %}
    <div class="container mt-4">
        <h2 class="h2">Welcome, {{club['email']}} </h2>
        <div class="d-flex justify-content-between mb-3">
            <a href="{{url_for('logout')}}" class="btn btn-danger" id="logout_btn">Logout</a>
            <a href="{{url_for('leaderboard')}}" class="btn btn-primary" id="leaderboard_btn">Leaderboard</a>
        </div>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert-container">
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}">{{message}}</div>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}

        <p>Points available: <strong>{{club['points']}}</strong></p>
        
        <h3 class="h3">Competitions:</h3>
        <ul class="list-group">
            {% for comp in competitions %}
                {% set comp_date = comp['date'] | to_datetime %}
                {% if current_date < comp_date %}
                    <li class="list-group-item">
                        <h4 class="h4" id="{{comp['name']}}">{{comp['name']}}</h4>
                        <p>Date: {{comp['date']}}</p>
                        <p>Places available: <span class="badge bg-primary">{{comp['numberOfPlaces']}}</span></p>
                        {% if comp['numberOfPlaces']|int > 0 and club['points']|int > 0 %}
                            <a href="{{ url_for('book', competition=comp['name'], club=club['name']) }}" class="btn btn-success">Book Places</a>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
