{% extends "base.html" %}
{% block title %} Summary | GUDLFT Registration {% endblock %}
{% block content %}
    {% set current_date = datetime.now() %}
    <h2>Welcome, {{club['email']}} </h2><a href="{{url_for('logout')}}">Logout</a>

    {% with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
    {% for category, message in messages %}
            <p class="{{category}}">{{message}}</p>
        {% endfor %} 
    {% endif%}
    Points available: {{club['points']}}
    <h3>Competitions:</h3>
    <ul>
        {% for comp in competitions%}
        {% set comp_date = comp['date'] | to_datetime %}
        {% if current_date < comp_date %}
            <li>
                {{comp['name']}}<br />
                Date: {{comp['date']}}</br>
                Number of Places: {{comp['numberOfPlaces']}}
                {%if comp['numberOfPlaces']|int >0 and club['points']|int >0%}
                <a href="{{ url_for('book',competition=comp['name'],club=club['name']) }}">Book Places</a>
                {%endif%}
            </li>
        {% endif %}
        <hr />
        {% endfor %}
    </ul>
    {%endwith%}
{% endblock %}